<h1>Seja bem vindo!</h1>
<p>Curso Ruby</p>


<p> Seu nome de trás para frente é: <%= "Saulo".reverse %> </p>

<% a = "variável a" %>

<p>Imprimindo a variável a: <%= a %> </p>

<p><%#= Código comentado %></p>

<p>A data de hoje é: <%= Date.today.strftime("%d/%m/%Y") %></p>

<!-- Utilizando Helpers -->

<!-- render: Renderiza uma página -->

<%= render "menu" %> <!-- Renderiza a partial chamada menu -->

<!-- 2) Utilizando helpers próprios  
    data_br: Helper para formatar datas no padrão brasileiro
    nome_aplicacao: Helper para exibir o nome do sistema
-->

<p>A data de hoje usando helper é: <%= data_br(Date.today) %></p>
<p><%= nome_aplicacao %></p>

<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>

<!-- Exibindo uma variável de instância/sessão vinda do controller -->
<p>Exibindo uma variável de sessão: <strong><%= @nome %></strong></p>